@font-face {
  font-family: 'Cafe24Oneprettynight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  src: url(NanumSquareR.eot);
  src: url(NanumSquareR.eot?#iefix) format('embedded-opentype'),
       url(NanumSquareR.woff) format('woff'),
       url(NanumSquareR.ttf) format('truetype');
 }

@font-face {
  font-family: 'Cafe24Danjunghae';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{margin: 0;padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}
body{
  font-family: 'NanumSquare';
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

/*헤더 부분*/

#top{
  height: 70px;
}
.top_in{
  width: 1320px;
  margin: 12px auto;
  font-family: 'Cafe24Oneprettynight';
  font-size: 18px;
}
.top_in b{
  float: left;
}
.top_in .nav{
  float: right;
}
.top_in .nav li{
  float: left;
  padding: 0px 98px;
  padding-top: 20px;
}
.m_nav{
  display: none;
}


/*메인 영상 부분*/

#main video{
  margin: auto;
  width: 100%;
}

/*컨텐츠1*/

/*컨텐츠1-왼쪽*/
.c1{
  margin: auto;
  height: 630px;
  margin-top: 60px;
}
.c1_in{
  width: 1320px;
  margin: auto;
  line-height: 30px;
}
.c1_l{
  float: left;
  width: 660px;
  height: 517px;
  box-sizing: border-box;
  padding: 60px 0 0 200px;
}
.c1_l h3{
  font-size: 40px;
  font-family: 'Cafe24Oneprettynight';
  padding-bottom: 10px;
}
.c1_l b{
  font-size: 20px;
  font-family:'NanumSquare';
  color: rgb(255, 131, 131);
}
.c1_l p{
  font-size: 18px;
  font-family: 'Cafe24Oneprettynight';
  padding-top: 20px;
}
/*컨텐츠1-오른쪽*/

.c1_r{
  float: left;
  padding-left: 50px;
}

/*컨텐츠2 광고배너*/
.c2{
  width: 100%;
  height: 433px;
  position: relative;
}
.c2_wrap{
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.c2_bg{
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-image: url(../images/b1.jpg);
}
.c2 h5{
  font-size: 25px;
  font-family: 'Cafe24Oneprettynight';
  line-height: 36px;
}
.c2 h1{
  font-size: 50px;
  font-family: 'Cafe24Danjunghae';
  padding-top: 40px;
}
.c2 h1 samp{
  color: rgb(197, 107, 205);
  font-size: 60px;
  font-family: 'Cafe24Danjunghae';
  padding-top: 40px;
}
.c2 .c2_in{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%,-50%);
}

/*컨텐츠3*/
.c3{
  width: 1320px;
  margin: auto;
}
/*컨텐츠3-1*/
.c3-1{
  text-align: center;
  margin-top: 80px;
}
.c3-1 h2{
  font-size: 30px;
  font-weight: bold;
  font-family: 'NanumSquare';
  padding-bottom: 20px;
}
.c3-1 p{
  font-size: 20px;
  font-family: 'Cafe24Oneprettynight';
  padding-bottom: 60px;
}

/*컨텐츠3-2*//*li-1*/
.c3-2 .c3-2-in{
  width: 1320px;
}
.c3-2-in li:nth-child(1){
  font-family: 'Cafe24Oneprettynight';
  font-size: 30px;
  float: left;
}
.c3-2-in li:nth-child(1) b{
  font-size: 70px;
  color: rgb(255, 161, 161);
}
.c3-2-in li:nth-child(1) a{
  color: white;
  background: url(../images/c2-1.jpg)no-repeat;
  width: 311px;
  height: 395px;
  display: block;
}
.c3-2-in li:nth-child(1) p{
  padding-top: 330px;
  text-align: right;
  margin-right: 5%;
}
/*li-2*/
.c3-2-in li:nth-child(2){
  font-family: 'Cafe24Oneprettynight';
  font-size: 30px;
  float: left;
}
.c3-2-in li:nth-child(2) b{
  font-size: 70px;
  color: rgb(255, 248, 128);
}
.c3-2-in li:nth-child(2) a{
  color: white;
  background: url(../images/c2-2.jpg)no-repeat;
  width: 311px;
  height: 395px;
  display: block;
  margin: 0px 25px;
}
.c3-2-in li:nth-child(2) p{
  padding-top: 40px;
  margin-left: 10px;
}
/*li-3*/
.c3-2-in li:nth-child(3){
  font-family: 'Cafe24Oneprettynight';
  font-size: 30px;
  float: left;
}
.c3-2-in li:nth-child(3) b{
  font-size: 70px;
  color: rgb(164, 85, 0);
}
.c3-2-in li:nth-child(3) a{
  color: white;
  background: url(../images/c2-3.jpg)no-repeat;
  width: 311px;
  height: 395px;
  display: block;
  margin-right: 25px;
}
.c3-2-in li:nth-child(3) p{
  padding-top: 330px;
  margin-left: 10px;
}
/*li-4*/
.c3-2-in li:nth-child(4){
  font-family: 'Cafe24Oneprettynight';
  font-size: 30px;
  float: left;
}
.c3-2-in li:nth-child(4) b{
  font-size: 70px;
  color: rgb(151, 75, 255);
}
.c3-2-in li:nth-child(4) a{
  color: white;
  background: url(../images/c2-4.jpg)no-repeat;
  width: 311px;
  height: 395px;
  display: block;
}
.c3-2-in li:nth-child(4) p{
  padding-top: 290px;
  text-align: center;
}

/*컨텐츠3-3*/
.c3-3{
  width: auto;
  margin: auto;
}
.c3-3  h6{
  clear: both;
  text-align: center;
  font-size: 25px;
  padding-top: 100px;
}
.c3-3-in{
  height: 500px;
}
.c3-3-in ul{
  float: left; 
  width: 45%;
  height: 101px;
  margin-top: 50px;
}
.c3-3-in .c3-3-1{
  margin-left: 6%;
}
.c3-3-in li{
  float: left;
  width: 33.33%;
  text-align: center;
  font-size: 18px;
  font-family: 'NanumSquare';
}
.c3-3-in .c3-3-2 li:nth-child(2), .c3-3-in .c3-3-1 li:nth-child(2){
  text-align: left;
}
.c3-3-in .c3-3-3 li:nth-child(3), .c3-3-in .c3-3-4 li:nth-child(3){
  text-align: left;
}
.c3-3-in .i0{
  margin-top: 30px;
}
.c3-3-in samp{
  font-size: 30px;
  font-family: 'Cafe24Danjunghae';
  color: rgb(188, 142, 192);
}

/*컨텐츠4 광고배너 부분*/
.c4{
  text-align: center;
}
.c4_in{
  background: url(../images/b2.jpg)no-repeat center;
  width: 100%;
  height: 634px;
  font-family: 'Cafe24Oneprettynight';
  position: relative;
  margin-bottom: 130px;
}
.c4_in h5{
  font-size: 80px;
  color: rgb(138, 138, 138);
  line-height: 110px;
  box-sizing: border-box;
  position: absolute;
  top: 40%;
  left: 60%;
}
.c4_in .c41{
  font-size: 90px;
  color: rgb(194, 113, 246);
  font-family: 'Cafe24Oneprettynight';
}
.c4_in .c42{
  font-size: 90px;
  color: rgb(249, 118, 118);
  font-family: 'Cafe24Oneprettynight';
}

/*컨텐츠5 소품샵 부분*/

.c5{
  height: 500px;
  text-align: center;
}
.c5 h3{
  text-align: center;
  font-size: 25px;
  margin-bottom: 100px;
}
.nav2 li{
  float: left;
  margin-left: 2%;
  width: 14.33%;

}
.nav2 li img{
  width: 100%;
}
.c5-1 {
  width: 1320px;
  margin: auto;
  text-align: center;
  height: 400px;
}
.c5-1 ul .li1{
  font-family: 'NanumSquare';
  font-size: 22px;
  font-weight: bold;
  padding-top: 20px;
}
.c5-1 ul .li2{
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 20px;
}
.c5-1 ul .li3{
  font-size: 15px;
  line-height: 30px;
}
.c5-1 ul{
  float: left;
  width: 30%;
}
ul.ul2{
  margin: 0 5%;
}
.c6{
  width: 1320px;
  margin: auto;
  height: 1100px;
}
.c6 img{
  display: block;
}
.c6 .img1{
  float: left;
}
.c6 .img2{
  float: right;
}
.c6 .img3{
  float: left;
}
.c6 .img4{
  float: right;
}
.c5 ul li{
  overflow: hidden;
  position: relative;
}
.c5 .nav2 .hover{
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;/*투명도 완전히 투명*/
  transition: all 1s;
  color: #fff;
  padding-top: 40%;
  font-size: 30px;
  font-weight: bold;
  border-radius: 50%;
}
.c5 .nav2 li img{
  display: block;
  transition: all 2s;
}
.nav2 li:hover .hover{
  opacity: 1;
}
.c5 .hover samp{
  font-size: 20px;
  font-family: 'Cafe24Oneprettynight';
}



/*인스타 부분*/
.c7{
  width: 1320px;
  margin: auto;
  text-align: center;
  margin-bottom: 100px;
}
.c7 img{
  padding-bottom: 30px;
}

/*푸터부분*/

.fo{
  background-color: rgb(255, 233, 233);
  font-family: 'NanumSquare';
  height: auto;
  overflow: hidden;
}
.fo_in{
  width: 1320px;
  margin: auto;
  overflow: hidden;
  padding: 50px 0px;
}
.fo_in h1{
  float: left;
  margin-right: 30px;
}
.fo_in .fo_1 li{
  float: left;
}
.fo_in .fo_1 li:nth-child(1){
  font-size: 20px;
  font-weight: bold;
  color: rgb(56, 56, 56);
}
.fo_in .fo_1 li:nth-child(2){
  font-family: 'Cafe24Oneprettynight';
  font-size: 20px;
}
.fo_in .fo_1 li:nth-child(3){
  font-family: 'Cafe24Oneprettynight';
  font-size: 16px;
}
.ulfo{
  float: left;
  font-family: 'NanumSquare';
}
.fo_1 li{
  padding-bottom: 20px;
}
.f1_r{
  float: right;
  padding-top: 120px;
}
.f1_r li{
  float: left;
  padding-left: 5px;
}
.fo_2{
  clear: both;
  padding-bottom: 10px;
}
.ulr{
  float: right;
}
.fo_l{
  float: left;
}

.solid{width:100%;
  margin:auto;
  height:5px;
  background:pink;
  opacity:0;
  transform:scaleX(0);
  transition-property:opacity, transform;
  transition-duration:0.5s;
}
.nav>li>a:hover .solid{transform:scaleX(1);
          opacity:1;}	

/*피씨*/          
@media (max-width:1319px){
  .top_in {
    width: 100%;
  }
  .top_in b{
    width: 8%;
  }
  .top_in b img{
    width: 100%;
  }
  .top_in .nav{
    width: 92%;
  }
  .top_in .nav li{
    padding: 0;
    padding-top: 3%;
    width: 20%;
    text-align: center;
  }
  .c1_in{
    width: 100%;
  }
  .c1_l{
    width: 50%;
    padding: 60px 0 0 10%;
  }
  .c1_r{
    padding-left: 5%;
    width: 45%;
  }
  .c3-2 .c3-2-in{
    width: 100%;
    height: 395px;
  }
  .c3-2 .c3-2-in li{
    width: 25%;
  }
  .c3-2 .c3-2-in li:nth-child(1) a, 
  .c3-2-in li:nth-child(2) a,
  .c3-2-in li:nth-child(3) a,
  .c3-2-in li:nth-child(4) a{
    width: auto;
    margin: 0;
  }
  .c3{
    width: 100%;
  }
  .c4_in h5{
    font-size: 35px;
    left: auto;
    right: 5%;
  }
  .c5-1{
    width: 100%;
  }
  .c6{
    width: 100%;
  }
  .c6 img{
    width: 50%;
  }
  .c7{
    width: 100%;
  }
  .fo_in{
    width: 100%;
  }
  .c1_in img{
    width: 100%;
  }
  .slider {
    width: 90%;
  }
}
/*태블릿*/
@media (max-width:1023px){
  .c1_l br{
    display: none;
  }
}


@media (max-width:899px){
  .top_in {
    width: 100%;
  }
  .top_in b{
    width: 8%;
  }
  .top_in b img{
    width: 100%;
  }
  .top_in .nav{
    width: 92%;
  }
  .top_in .nav li{
    padding: 0;
    padding-top: 3%;
    width: 20%;
    text-align: center;
  }
  .c1{
    height: auto;
    width: 90%;
  }
  .c1_r{
    float: none;
    padding: 0;
    width: 100%;
  }
  .c1_l{
    float: none;
    width: 100%;
    text-align: center;
    padding: 0;
    height: auto;
  }
  .c3-3{
    width: 100%;
  }
  .c3-3-in li{
    font-size: 15px;
  }
  .c3-2 .c3-2-in{
    width: 100%;
    height: 395px;
  }
  .c3-2 .c3-2-in li{
    width: 25%;
  }
  .c3-2 .c3-2-in li:nth-child(1) a, 
  .c3-2-in li:nth-child(2) a,
  .c3-2-in li:nth-child(3) a,
  .c3-2-in li:nth-child(4) a{
    width: auto;
    margin: 0;
    font-size: 30px;
  }
  .c3-2 .c3-2-in li:nth-child(1) b, 
  .c3-2-in li:nth-child(2)  b,
  .c3-2-in li:nth-child(3)  b,
  .c3-2-in li:nth-child(4)  b{
    font-size: 25px;
  }
  .c3{
    width: 100%;
    font-size: 40px;
  }
  .c3-2 .c3-2-in li:nth-child(1) p, 
  .c3-2-in li:nth-child(2)  p,
  .c3-2-in li:nth-child(3)  p,
  .c3-2-in li:nth-child(4)  p{
    font-size: 18px;
  }
  .c4_in h5{
    font-size: 20px;
  }
  .nav2 li img{}
  .c4_in .c41{
    font-size: 50px;
  }
  .c4_in .c42{
    font-size: 50px;
  }
  .c5-1{
    width: 90%;
  }
  .nav2 li{
    width: 30.33%;
  }
  .c5{
    height: 730px;
  }
  .c5-1 ul .li3{
    font-size: 13px;
  }
  .c6{
    width: 100%;
    height: 800px;
  }
  .c6 img{
    width: 50%;
  }
  .c7{
    width: 100%;
  }
  .fo_in{
    width: 90%;
  }
  .c1_in img{
    width: 100%;
  }
  .slider {
    width: 85%;
  }
  .f1_r{
    padding: 0;
    width: 30%;
  }
  .fo_in h1{
    width: 15%;
  }
  .ulfo{
    width: 75%;
  }
  .c5-1 ul br{
    display: none;
  }

}



 /*모바일*/          
@media (max-width:599px){
  .nav li{
    width: 100%;
  }
  .c1_r{
    width: 100%;
    margin-bottom: 50px;
  }
  .c2 h1{
    font-size: 15px;
  }
  .c3-3-in .c3-3-1{
    margin-left: 0;
  }
  .c3-3-in li{
    width: 50%;
  }
  .c3-2 .c3-2-in li{
    width: 50%;
  }
  .c3-3{
    margin-bottom: 50px;
  }
  .c3-2-in li:nth-child(1) p{
    margin-left: 60%;
  }
  .c3-3-in{
    height: auto;
  }
  .nav2 li{
    width: 47.33%;
  }
  .c5 {
    height: auto;
    overflow: hidden;
    margin-bottom: 50px;
  }
  .c5-1 ul{
    width: 100%;
    float: none;
  }
  .c5-1{
    height: auto;
    margin-bottom: 50px;
  }
  .c3-3-in .c3-3-1{
    margin-left: 0;
  }
  .c3-3-in ul{
    float: none;
    width: 100%;
  }
  .c3-3-in .i0{
    display: none;
  }
  .c6 img, .c6 .img1, .c6 .img2, .c6 .img3, .c6 .img4{
    width: 100%;
    float: none;
  }
  .c6{
    height: auto;
    margin-bottom: 50px;
  }
  .fo_in h1{
    display: none;
  }
  .f1_r{
    padding: 0;
  }
  .slick-prev{
    left: 0px;
    z-index: 2;
  }
  .slick-next{
    right: 0px;
  }
  .f1_r{
    float: none;
    width: 100%;
  }
  .ulfo{
    width: 100%;
  }
  .c3-1{
    width: 90%;
    margin: 80px auto 0;
  }
  .nav{
    display: none;
  }
  .top_in b{
    width: 65px;
  }
  .m_nav{
    display: block;
  }
  /*움직이는 메뉴버튼*/

input[id="menuicon"]{
	display:none;
}

/*메뉴 아이콘 버튼 크기, 위치*/
input[id="menuicon"]+label{
	display:block;
	width:40px;
	height:25px;
	position:fixed;
	right:30px;
	top:30px;
	z-index:2;
	transition:all 0.5s;
	cursor:pointer;
}

/*메뉴 버튼 클릭했을 때 X버튼 색상*/
input[id="menuicon"]:checked+label span{
	background:#fff;
}

/*메뉴 세줄 버튼*/
input[id="menuicon"]+label span{
	display:block;
	position:absolute;
	width:100%;
	height:5px;
	border-radius:30px;
	background: rgb(255, 161, 161);
	transition:all 0.5s;
}
input[id="menuicon"]+label span:nth-child(1){
	top:0;
}
input[id="menuicon"]+label span:nth-child(2){
	top:50%;
	transform:translateY(-50%);
}
input[id="menuicon"]+label span:nth-child(3){
	bottom:0;
}

/*메뉴 버튼 클릭했을 때 세줄버튼에서 X버튼으로 바뀌는 모습*/
input[id="menuicon"]:checked+label span:nth-child(1) {top:50%;transform:translateY(-50%) rotate(45deg);}
input[id="menuicon"]:checked+label span:nth-child(2) {opacity:0;}
input[id="menuicon"]:checked+label span:nth-child(3) {bottom:50%;transform:translateY(50%) rotate(-45deg);}


/*메뉴 창*/
.sidebar{
	width:50%;
	height:100%;
	background:rgb(255, 161, 161);
	position:fixed;
	top:0;
	right:-100%;
	z-index:1;
	transition:all 0.5s;
}
.sidebar ul{
  margin-top: 100px;
}
.sidebar ul a{
  color: #fff;
  display: block;
  padding: 10px ;
  font-weight: bold;
  font-size: 25px;
}
input[id="menuicon"]:checked+label+div{
	right:0;
}
.c5-1 ul br{
  display: block;
}
}
 /*모바일*/          
 @media (max-width:375px){
  .c3-3 h6{
    font-size: 21px;
  }
 }